<nav
  ngClass="navbar fixed-top navbar-expand-lg bg-indigo nav-container-buttons justify-content-center px-5 text-comfortaa">
  <div ngClass="container-fluid">
    <a routerLink="/" ngClass="btn-logo-home navbar-link navbar-brand justify-content-center col-2">
      <img src="../assets/img/icons/icon-app.png" ngClass="img-logo">
    </a>
    <button class="navbar-toggler btn-logo-toggler text-white" (click)="isCollapsed = !isCollapsed"
      aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngClass="collapse navbar-collapse col-6">
      <div ngClass="navbar-nav px-5">
        <li class="nav-item px-3" *ngIf="this.user != null">
          <a routerLink="/duo" ngClass="text-white link-page navbar-link px-2"><strong>DUO</strong></a>
        </li>
        <li class="nav-item px-3">
          <a routerLink="/aboutus" ngClass="text-white link-page navbar-link px-2">
            <strong>{{ 'text-0001' | translate }}</strong>
          </a>
        </li>
        <li class="nav-item px-3">
          <a routerLink="/forum" ngClass="text-white link-page navbar-link px-2"><strong>{{ 'text-0002' | translate }}</strong></a>
        </li>
        <li class="nav-item px-3">
          <a routerLink="/information" ngClass="text-white link-page navbar-link px-2"><strong>{{ 'text-0003' | translate }}</strong></a>
        </li>
        <li class="nav-item px-3">
          <a routerLink="/security" ngClass="text-white link-page navbar-link px-2"><strong>{{ 'text-0004' | translate }}</strong></a>
        </li>
      </div>
    </div>
    <div ngClass="container-fluid px-5">
      <div ngClass="row">
        <select #idiom ngClass="col-5 input-idiom mx-3" (change)="changeIdiom(idiom.value)">
          <option id="{{i.id}}" *ngFor="let i of idioms" value="{{i.name}}">{{i.text}}</option>
        </select>
        <a ngClass="col-2 mx-5 btn btn-user">
          <img src="../assets/img/icons/user-btnLog.png">
        </a>
      </div>
    </div>

  </div>
</nav>
<!-- main app container -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer ngClass="footer bg-dark">
  <div ngClass="container">
    <div ngClass="row">
      <!-- comments section -->
      <div ngClass="container col-12">
        <h2 ngClass="text-comfortaa text-white py-5 col-6"><strong>{{ 'text-0014' | translate }}</strong></h2>
        <div ngClass="row">
          <button (click)="prevComments()" ngClass="btn btn-comments col-1" *ngIf="comments.length != 0 && this.startComments != 0"><span class="carousel-control-prev-icon" aria-hidden="true"></span></button>
          <div ngClass="col-5" *ngFor="let comment of comments | slice:this.startComments:this.startComments+2; let counts = index;">
            <div class="card">
              <div class="card-body text-comfortaa">
                <h5 ngClass="py-1"><strong>Antonio</strong></h5>
                <p ngClass="py-2 text-comments">{{comment.text}}</p>
              </div>
            </div>
          </div>
          <button (click)="nextComments()" ngClass="btn btn-comments col-1" *ngIf="comments.length != 0 && this.startComments+2 < comments.length"><span class="carousel-control-next-icon" aria-hidden="true"></span></button>
        </div>
      </div>
      <!-- END -->
      <!-- links section -->
      <div ngClass="container col-6 text-comfortaa text-white">
        <div ngClass="row">
          <div ngClass="col-6 py-5">
            <h2 ngClass="py-3"><strong>{{ 'text-0015' | translate }}</strong></h2>
            <a routerLink="/privacy" ngClass="text-white link-page">{{ 'text-0016' | translate }}</a>
            <br>
            <br>
            <a routerLink="/conditions" ngClass="text-white link-page">{{ 'text-0017' | translate }}</a>
            <br>
            <br>
            <a routerLink="/policity_cookies" ngClass="text-white link-page">{{ 'text-0018' | translate }}</a>
          </div>
          <div ngClass="col-6 py-5">
            <h2 ngClass="py-3"><strong>{{ 'text-0019' | translate }}</strong></h2>
            <a routerLink="/employment" ngClass="text-white link-page">{{ 'text-0020' | translate }}</a>
            <br>
            <br>
            <a routerLink="/techblog" ngClass="text-white link-page">{{ 'text-0021' | translate }}</a>
          </div>
        </div>
      </div>
      <!-- END -->
      <!-- social networks section -->
      <div ngClass="container col-6">
        <h2 ngClass="text-comfortaa text-white py-5"><strong>{{ 'text-0022' | translate }}</strong></h2>
        <div ngClass="row">
          <div ngClass="col-1"><a ngClass="link-footer-facebook" href="https://facebook.com"><i class="fa-brands fa-facebook fa-bounce fa-2xl" ></i></a></div>
          <div ngClass="col-1"><a ngClass="link-footer-twitter" href="https://twitter.com"><i class="fa-brands fa-twitter fa-bounce fa-2xl"></i></a></div>
          <div ngClass="col-1"><a ngClass="link-footer-instagram" href="https://instagram.com"><i class="fa-brands fa-instagram fa-bounce fa-2xl"></i></a></div>
          <div ngClass="col-1"><a ngClass="link-footer-tiktok" href="https://tiktok.com"><i class="fa-brands fa-tiktok fa-bounce fa-2xl"></i></a></div>
          <div ngClass="col-1"><a ngClass="link-footer-youtube" href="https://youtube.com"><i class="fa-brands fa-youtube fa-bounce fa-2xl"></i></a></div>
        </div> 
      </div>
      <!-- END -->
    </div>
  </div>
  <div ngClass="text-white text-comfortaa bg-black col-12 py-3">
    <p ngClass="text-center">{{ 'text-0023' | translate }}</p>
  </div>
</footer>