@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Comfortaa&display=swap");
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}

.border-indigo {
  border-color: #6610f2 !important;
}

.navbar {
  filter: drop-shadow(0 0 0.5rem rgb(58, 57, 57));
}

.bg-indigo {
  background-color: #6610f2;
}

.text-comfortaa {
  font-family: "Comfortaa", cursive;
}

.text-indigo {
  color: #6610f2;
}

.img-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  filter: drop-shadow(0 0 0.5rem rgb(58, 57, 57));
  padding: none;
  margin-left: 2rem;
}

.link-page {
  text-decoration: none;
  z-index: 1;
  filter: drop-shadow(0 0 0.5rem rgb(58, 57, 57));
}

.link-page:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -7px;
  left: 0;
  background: white;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}

.link-page:hover:before,
.link-page:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.btn-logo-home, .btn-logo-toggler {
  display: block;
  transition: 1s;
}

.btn-logo-home:hover, .btn-logo-toggler:hover {
  animation-name: logohover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.5rem white);
}

@keyframes logohover {
  from {
    bottom: 0px;
  }
  to {
    bottom: 5px;
  }
}
.img-world {
  width: 50px;
  height: 50px;
}

.input-idiom {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  border: solid 3px white;
  background-color: #6610f2;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background: url("./assets/img/arrow_select.png") no-repeat right #6610f2;
  background-size: 2rem;
  font-weight: bold;
  filter: drop-shadow(0 0 0.2rem rgb(58, 57, 57));
}

.btn-user {
  background-color: transparent;
  border: solid 3px white;
  border-radius: 100px;
  padding: 0.6rem;
  filter: drop-shadow(0 0 0.15rem rgb(58, 57, 57));
}

.btn-user > img {
  width: 35px;
  height: 40px;
}

.border {
  border-width: 3px;
}

.input-group > input {
  color: #6610f2 !important;
}

.input-group {
  filter: drop-shadow(0 0 0.15rem rgb(0, 0, 0));
}

.input-group > input:focus {
  background: white !important;
  box-shadow: none;
  border-color: white;
}

::placeholder {
  color: #6610f2 !important;
  opacity: 0.5 !important;
}

.btn-indigo:hover {
  color: #6610f2 !important;
  border: 1px solid #6610f2 !important;
}

.text-over-login {
  font-size: 11px;
}

.img-small-ia {
  width: 8rem;
  height: 8rem;
  filter: drop-shadow(0 0 0.15rem rgb(108, 74, 155));
}

.text-comments {
  font-size: 10px !important;
  filter: none !important;
}

.link-footer-facebook {
  color: #3b5998 !important;
}

.link-footer-facebook:hover {
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.5rem #3b5998);
}

.link-footer-twitter {
  color: #00ACEE !important;
}

.link-footer-twitter:hover {
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.5rem #00ACEE);
}

.link-footer-instagram {
  color: #8c249c;
}

.link-footer-instagram:hover {
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  color: #8c249c;
  filter: drop-shadow(0 0 0.5rem #da3f15);
}

.link-footer-tiktok {
  color: #000000;
}

.link-footer-tiktok:hover {
  color: #000000;
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.5rem #e20404);
}

.link-footer-youtube {
  color: #ff0000;
}

.link-footer-youtube:hover {
  color: #ff0000;
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.5rem #ff0000);
}

@keyframes hover-link-footer-social {
  from {
    bottom: 0px;
  }
  to {
    bottom: 3.5px;
  }
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  height: 30%;
  filter: drop-shadow(0 0 0.3rem rgb(58, 57, 57));
  border-radius: 100px;
}

.card-body > h1,
.card-body > p {
  filter: drop-shadow(0 0 0.15rem rgb(58, 57, 57));
}

.card-body > p {
  font-size: 20px;
}

hr {
  height: 4px;
  border-width: 0;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.cards-img {
  filter: drop-shadow(0 0 0.5rem rgb(58, 57, 57));
}

.btn-home-rg {
  background-color: #6610f2;
  color: white;
  filter: drop-shadow(0 0 0.2rem rgb(58, 57, 57));
  transition: 1s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
}

.btn-home-rg:hover {
  background-color: #6610f2;
  filter: drop-shadow(0 0 0.8rem rgb(58, 57, 57));
  animation: hover-btn-home-rg 1s;
  animation-fill-mode: forwards;
}

@keyframes hover-btn-home-rg {
  from {
    bottom: 0px;
  }
  to {
    bottom: 5px;
  }
}
.card-r {
  filter: drop-shadow(0 0 0.8rem rgb(58, 57, 57));
}

.personal-image {
  text-align: center;
}

.personal-figure {
  position: relative;
  width: 100px;
  height: 100px;
}

.personal-avatar {
  cursor: pointer;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  transition: all ease-in-out 0.3s;
}

.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.3s;
}

.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.personal-figcaption > img {
  margin-top: 32.5px;
  width: 30px;
  height: 30px;
}

textarea {
  resize: none;
}

.ng-value {
  border: #6610f2 solid 1px;
  border-radius: 15px;
  background-color: #6610f2;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.ng-value-icon {
  margin-left: 0.06rem;
  margin-right: 0.1rem;
}

.ng-placeholder {
  opacity: 0.5;
}

.ng-select-focused .ng-placeholder {
  display: none;
}

.ng-has-value .ng-placeholder {
  display: none;
}

.ng-dropdown-panel {
  border: solid 1px #6610f2 !important;
}/*# sourceMappingURL=styles.css.map */