//Imports
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Comfortaa&display=swap');
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';


*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}

//Colors theme
$indigo :  #6610f2;

$theme-colors: (
  "indigo":     $indigo,
);

.border-indigo {
  border-color: $indigo !important;
}

//Class

// -- Nav

.navbar {
  filter: drop-shadow(0 0 0.50rem rgb(58, 57, 57));
}

.bg-indigo {
    background-color: $indigo;
}

.text-comfortaa {
    font-family: 'Comfortaa', cursive;
}

.text-indigo {
  color: $indigo;
}

.img-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  filter: drop-shadow(0 0 0.50rem rgb(58, 57, 57));
  padding: none;
  margin-left: 2rem;
}

.link-page {
  text-decoration: none;
  z-index: 1;
  filter: drop-shadow(0 0 0.50rem rgb(58, 57, 57));
}

.link-page:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -7px;
  left: 0;
  background: white;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

.link-page:hover:before,
.link-page:focus:before {
  visibility: visible;
  transform: scaleX(1);
}


.btn-logo-home, .btn-logo-toggler {
  display:block;
  transition: 1s;
}

.btn-logo-home:hover, .btn-logo-toggler:hover {
  animation-name: logohover;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.50rem white);
}

@keyframes logohover {
  from {bottom: 0px;}
  to {bottom: 5px;}
}

.img-world {
  width: 50px;
  height: 50px;
}

.input-idiom {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  border: solid 3px white;
  background-color: $indigo;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background: url("./assets/img/arrow_select.png") no-repeat right $indigo;
  background-size: 2rem;
  font-weight: bold;
  filter: drop-shadow(0 0 0.20rem rgb(58, 57, 57));
}

.btn-user {
  background-color: transparent;
  border: solid 3px white;
  border-radius: 100px;
  padding: 0.60rem;
  filter: drop-shadow(0 0 0.15rem rgb(58, 57, 57));
}

.btn-user > img {
  width: 35px;
  height: 40px;
}

.border {
  border-width: 3px;
}

.input-group > input {
  color: $indigo !important;

}

.input-group {
  filter: drop-shadow(0 0 0.15rem rgb(0, 0, 0));
}

.input-group > input:focus {
  background: white !important;
  box-shadow: none;
  border-color: white;
}

::placeholder {
  color: $indigo !important;
  opacity: 0.5 !important;
}

.btn-indigo:hover {
  color: $indigo !important;
  border: 1px solid $indigo !important
}

.text-over-login {
  font-size: 11px;
}

.img-small-ia {
  width: 8rem;
  height: 8rem;
  filter: drop-shadow(0 0 0.15rem rgb(108, 74, 155));
}

.modal-backdrop {
  background-color: transparent;
}

.modal-open {
  overflow-y: auto;
}

.modal-config {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 500px;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
  filter: drop-shadow(0 0 0.15rem rgb(103, 101, 105));

}

details[open] {
	z-index: 1;
}

summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: $indigo;
	list-style: none;
  color: white;
  font-family: 'Comfortaa', cursive;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms;
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}


ul {
	width: 100%;
	background: $indigo;
	position: block;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
  list-style: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;

}

.li-state {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
  background-color: $indigo;
  color: white;
  font-family: 'Comfortaa', cursive;

}

.li-state:first-child {
	padding-top: 0;
}

.li-state:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

.input_status[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

.input_status[type=radio]:checked {
	display: inline;
	--display: block;
}

.input_status[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
  margin-top: 1rem;
}

.label-state {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

.state-description {
  font-size: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
  filter: drop-shadow(0 0 0.15rem rgb(53, 52, 54));
}

.img-avatar {
  border-radius: 30px;
  object-fit: cover;
}

//END

//Footer 

.text-comments {
  font-size: 10px !important;
  filter: none !important;
}

.link-footer-facebook {
  color: #3b5998 !important;
}

.link-footer-facebook:hover {
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.50rem #3b5998);
}

.link-footer-twitter {
  color: #00ACEE !important;
}

.link-footer-twitter:hover {
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.50rem #00ACEE);
}

.link-footer-instagram {
  color: #8c249c;
}

.link-footer-instagram:hover {
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  color: #8c249c;
  filter: drop-shadow(0 0 0.50rem #da3f15);
}

.link-footer-tiktok {
  color: #000000;
}

.link-footer-tiktok:hover {
  color: #000000;
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.50rem #e20404);
}

.link-footer-youtube {
  color: #ff0000;
}

.link-footer-youtube:hover {
  color: #ff0000;
  animation: hover-link-footer-social 0.5s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.50rem #ff0000);
}

@keyframes hover-link-footer-social {
  from {bottom: 0px;}
  to {bottom: 3.5px;}
}

//Home 

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  height: 30%;
  filter: drop-shadow(0 0 0.30rem rgb(58, 57, 57));
  border-radius: 100px;
}

.card-body > h1,
.card-body > p {
  filter: drop-shadow(0 0 0.15rem rgb(58, 57, 57));
}

.card-body > p {
  font-size: 20px;
}

hr {
  height: 4px;
  border-width:0;
  color:rgb(0, 0, 0);
  background-color:rgb(0, 0, 0)
}

.cards-img {
  filter: drop-shadow(0 0 0.50rem rgb(58, 57, 57));
}

.btn-home-rg {
  background-color: $indigo;
  color: white;
  filter: drop-shadow(0 0 0.20rem rgb(58, 57, 57));
  transition: 1s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
}

.btn-home-rg:hover {
  background-color: $indigo;
  filter: drop-shadow(0 0 0.80rem rgb(58, 57, 57));
  animation: hover-btn-home-rg 1s;
  animation-fill-mode: forwards;
}

@keyframes hover-btn-home-rg {
  from {bottom: 0px;}
  to {bottom: 5px;}
}

// END

// Register

.card-r {
  filter: drop-shadow(0 0 0.80rem rgb(58, 57, 57));
}

.personal-image {
  text-align: center;
}

.personal-figure {
  position: relative;
  width: 100px;
  height: 100px;
}
.personal-avatar {
  cursor: pointer;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 30px;
  height: 30px;
}

textarea {
  resize: none;
}

.ng-value {
  border: $indigo solid 1px;
  border-radius: 15px;
  background-color: $indigo;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.ng-value-icon {
  margin-left: 0.06rem;
  margin-right: 0.10rem;
}

.ng-placeholder {
  opacity: 0.5;
}

.ng-select-focused {
  .ng-placeholder {
      display: none;
  }
}

.ng-has-value {
  .ng-placeholder {
      display: none;
  }
}

.ng-dropdown-panel {
  border: solid 1px $indigo !important;
}