<body ngClass="py-5 home">

    <!-- Carousel or Banner -->
    <div id="carouselExampleSlidesOnly" class="carousel slide my-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/img/banner-home.png" class="d-block w-100">
                 <div class="carousel-caption card justify-content-center bg-indigo">
                    <div class="card-body text-comfortaa py-3">
                       <h1 ngClass="py-3">You can find your DUO !</h1>
                       <p ngClass="py-2">Join to the family</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->

    <!-- Sections -->

    <!-- Section 1 -->
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-6">
                <img src="../../assets/img/img2-home.jpg" ngClass="img-thumbnail">
            </div>
            <div ngClass="col-6 text-comfortaa text-center py-5">
                <h2 ngClass="text-indigo"><strong>I KNOW I KNOW</strong></h2>
                <p ngClass="py-5">You tired all the time when you play alone 
                    your favorite videogame. DUO can resolve 
                    this problem searching people for play.</p>
            </div>
        </div>
    </div>
    <!-- END 1 -->

    <hr ngClass="mx-5 my-5">

    <!-- Section 2 -->
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-6 text-comfortaa text-center py-5">
                <h2 ngClass="text-indigo"><strong>HOW?</strong></h2>
                <p ngClass="py-5">DUO search people of the game you selected and show you the stadistics and information of the gamer</p>
            </div>
            <div ngClass="col-6 px-3">
                <img src="../../assets/img/img3-home.png" ngClass="img-fluid cards-img">
            </div>
        </div>
    </div>
    <!-- END 2 -->

    <hr ngClass="mx-5 my-5">

     <!-- Section 3 -->
     <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-12 text-comfortaa text-center justify-content-centery-5 ">
                <h2 ngClass="text-indigo"><strong>What are you waiting for?</strong></h2>
                <p ngClass="py-5">Join to DUO, search your perfect teammate and play with him!</p>
                <div class="d-grid gap-2">
                    <button ngClass="btn btn-home-rg text-white fs-3">Register</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Sections -->

</body>