<body ngClass="py-5 home">

    <!-- Carousel or Banner -->
    <div id="carouselExampleSlidesOnly" class="carousel slide my-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/img/banner-home.png" class="d-block w-100">
                 <div class="carousel-caption card justify-content-center bg-indigo">
                    <div class="card-body text-comfortaa py-3">
                       <h1 ngClass="py-3">{{ 'text-0005' | translate }}</h1>
                       <p ngClass="py-2">{{ 'text-0006' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->

    <!-- Sections -->

    <!-- Section 1 -->
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-6">
                <img src="../../assets/img/img2-home.jpg" ngClass="img-thumbnail">
            </div>
            <div ngClass="col-6 text-comfortaa text-center py-5">
                <h2 ngClass="text-indigo"><strong>{{ 'text-0007' | translate }}</strong></h2>
                <p ngClass="py-5">{{ 'text-0008' | translate }}</p>
            </div>
        </div>
    </div>
    <!-- END 1 -->

    <hr ngClass="mx-5 my-5">

    <!-- Section 2 -->
    <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-6 text-comfortaa text-center py-5">
                <h2 ngClass="text-indigo"><strong>{{ 'text-0009' | translate }}</strong></h2>
                <p ngClass="py-5">{{ 'text-0010' | translate }}r</p>
            </div>
            <div ngClass="col-6 px-3">
                <img src="../../assets/img/img3-home.png" ngClass="img-fluid cards-img">
            </div>
        </div>
    </div>
    <!-- END 2 -->

    <hr ngClass="mx-5 my-5">

     <!-- Section 3 -->
     <div ngClass="container">
        <div ngClass="row">
            <div ngClass="col-12 text-comfortaa text-center justify-content-centery-5 ">
                <h2 ngClass="text-indigo"><strong>{{ 'text-0011' | translate }}</strong></h2>
                <p ngClass="py-5">{{ 'text-0012' | translate }}</p>
                <div class="d-grid gap-2">
                    <button ngClass="btn btn-home-rg text-white fs-3">{{ 'text-0013' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Sections -->

</body>